@font-face {
  font-family: 'montserrat-light';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'montserrat-regular';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
}

.App {
  font-family: "montserrat-light"
}

h1, h2 {
  font-family: 'montserrat-regular';
  font-weight: normal;
} 

p, h1, h2, h3, h4, h5 {
  margin: 0;
}
