@font-face {
  font-family: 'montserrat-light';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Light.ttf');
}
@font-face {
  font-family: 'montserrat-regular';
  src: url('./assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
}

.App {
  font-family: "montserrat-light"
}

h1, h2 {
  font-family: 'montserrat-regular';
  font-weight: normal;
} 

h1 {
  font-size: 1.875rem/* 30px */;
  line-height: 2.25rem/* 36px */;
  text-align: center;
  margin: 3rem 0;
}
